// @media only screen and (min-width: 600px) {
//   #quote {
//     font-size: 5rem;
//   }
// }
$fade-in: fadeIn 1s;

#quote-box {
  background-color: white;
  min-height: 5vh;
  max-width: 50vh;
  width: auto;
  height: auto;
  padding: 3rem;
}

.quote-container {
  cursor: pointer;
}

#text {
  color: #2a9d8f;
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 2rem;
}

#text[fade="1"] {
  animation: $fade-in;
}

.author-container {
  display: flex;
  justify-content: flex-end;

  #author {
    font-weight: 300;
    font-size: 1.125rem;
    color: #2a9d8f;
  }

  #author[fade="1"] {
    animation: $fade-in;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.buttons {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}

#social-container {
  display: flex;
}

.button {
  display: flex;
  background-color: #2a9d8f;
  color: white;
  margin: 0 0.25rem;
  border: none;
  border-radius: 0.25rem;
  padding: 1rem;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }

  &#new-quote {
    font-size: 0.875rem;
  }

  &#tweet-quote,
  &#fb-quote,
  &#li-quote {
    height: 1.25rem;
    width: 1.25rem;
  }
}
